{% extends 'base.html' %}
{% block title %} THE HOMETOWN {% endblock title %}
{% block body %}
<body style= "background-image: url('static/download.jpg');">
<div class="btn-group" align="right">
  <button class="button button1"><a href='admin'><h4> Admin </h4> </a></button>
  <button class="button button2"><a href='room'><h4> Rooms </h4> </a></button>
  <button class="button button3"><a href='manager'><h4> Manager </h4> </a></button>
  <button class="button button4"><a href='reception'> <h4>Reception </h4> </a></button>
</div>
<p align= "center">The HomeTown Hotel is a modern elegant hotel overlooking the sea. Our Reception staff will be happy to help you during your stay		Our Hotel is the icon of the city. Thousand of visitors come here weekly....
We welcome our visitors and treat them as our family, We here make an environment
where everyone can feel a touch of it's home....</p>
<li> That Indian touch which you were looking for..</li>
<li> Here we organise many Religious and Yoga sessions. </li>
<li> Free Wireless connectivity in all rooms and public areas. </li>
<br>

<div align="center"><button class="button button5"><a href='book_now'> <h4>Book Now </h4> </a></button></div>
{% endblock body %}
