{% extends 'base.html' %}
{% block title %} HOME {% endblock title %}
	{% block body %}
	<body style= "background-image: url('/static/download.jpg');opacity:200%;">

		<h1 ALIGN='CENTER'>Reception Home<H1><HR>
		<DIV align='center'> 
		<a href='enter'><h4 style='color:DarkCyan;'> Insert Entries </h4> </a>
		<a href='chk_entries'> <h4 style='color:DarkCyan;'> Check Entries </h4> </a>			
		<a href='exit'> <h4 style='color:DarkCyan;'> Update Exit </h4> </a>			
		<a href='rlogout'> <h4 style='color:DarkCyan;'> Logout </h4> </a>			
		</DIV>
	{% endblock body %}
