{% extends 'base.html' %}
{% block title %} THE HOMETOWN {% endblock title %}
<link rel="icon" type="image/x-icon" href="favicon.ico">
{% block body %}
<body style='background-color:#808080;'>
<a href='.'> Home </a>
<p style="text-align:justify">
	<strong>Following room type definitions are common in the hotel industry:</strong>
</p>
<p style="text-align:justify">
	<strong>1) Imperial Room:</strong>
</p>
<p style="text-align:justify">
	"These rooms are furnished with contemporary amenities, a king bed,flexible workstation, LED television, high
	speed Wi-Fi/internet as well as a responsive climate control panel. The rooms exude a young and vibrant ambience
	and have a view of the city outside. The higher floors at The HomeTown are members of Imperial category."
</p>
<img src="static/imperial_room.jpg" width="1080px" height="512px" alt="" >


<p style="text-align:justify">
	<strong>2) Executive Room:</strong>
</p>
<p style="text-align:justify">
	"These rooms are furnished with contemporary amenities, a king bed,flexible workstation, LED television, high
	speed Wi-Fi/internet as well as a responsive climate control panel. The rooms exude a young and vibrant ambience
	and have a view of the city outside."
</p>
<img src="static/executive_room.jpg" width="1080px" height="512px" alt="">


<p style="text-align:justify">
	<strong>3) Club Room:</strong>
</p>	
<p style="text-align:justify">
	"These rooms are furnished with contemporary amenities, oak wood flooring, a king bed,flexible workstation, LED television, high
	speed Wi-Fi/internet as well as a responsive climate control panel. The rooms exude a young and vibrant ambience
	and have a view of the city outside. The higher floors at The HomeTown are members of Club category."
</p>
<img src="static/club_room.jpg" width="1080" height="512px" alt="">


<p style="text-align:justify">
	<strong>4) Hositality Suites:</strong>
</p>
<p style="text-align:justify">
	"Suites at The HomeTown cater to both business guests and recreational travellers. Covering over 1000sq. ft. area,
	these suites entail seperate hospitality and living spaces, wooden flooring, recessed lighting, high-powered multimedia panel,
	LED television and a luxurious four fixture bathroom."
</p>
<img src="static/hospitibiliry_room.jpg" width="1080px" height="512px" alt="">
{% endblock body %}